@import 'utils';
/* color single components */


@import 'basics/normalize';
@import 'basics/remsizing';
@import 'basics/fonts';
@import 'basics/layout';
@import 'basics/typography';
@import 'basics/forms';
@import 'basics/swiper';
@import 'basics/animations';


// applying theming

component-router {
    position: relative;

    // gap after each chapter
    &[class*="chapter-"]:not(.chapter-0):not(.chapter-8) {
        display: block;

        padding-bottom: rem-calc(50);

        background-color: $color-background-default;

        @media #{$medium-up} {
            padding-bottom: rem-calc(100);
        }


        // &:after {
        //     display: block;
        //
        //     width: 100vw;
        //     height: rem-calc(50);
        //
        //     content: "";
        //
        //     @media #{$medium-up} {
        //         height: rem-calc(100);
        //     }
        // }

        // this is the element used for targeting the scrolling by the menu
        > div:last-child {
            position: absolute;
            bottom: 0;
        }
    }

    @for $i from 0 through 7 {

        &.chapter-#{$i} {
            background-color: map-get($colors-chapters, $i) !important;

            @include color-chapters(map-get($colors-chapters, $i));
            @include alter-chapters($i);

            // &:after {
            //     background-color: map-get($colors-chapters, $i);
            // }
        }
    }
}
