@import 'utils';
/* color single components */


@import 'basics/normalize';
@import 'basics/remsizing';
@import 'basics/fonts';
@import 'basics/layout';
@import 'basics/typography';
@import 'basics/forms';
@import 'basics/swiper';
@import 'basics/animations';


// section {
//
//     // this is to map colors on a chapter-basis
//
//     @for $i from 1 through length($colors-chapter-main) {
//
//         &.chapter-#{$i} {
//
//             @include color-chapters(map-get($colors-chapter-main, $i), map-get($colors-chapter-sub, $i));
//         }
//     }
// }
