@import '../../../../scss/utils';

.ui-sharing-dropdown {
    margin-right: $column-gutter/2;

    line-height: 0;

    ul {
        display: none;

        margin: 0;
        padding: 0;

        list-style: none;
    }

    &.is-open ul {
        display: block;
    }

    li {
        margin: $row-gutter/2 0 0 0;
        padding: 0;
        a {
            display: block;
        }
    }

    .ui-button {
        width: rem-calc(40);
        height: rem-calc(40);

        @extend %bordered-ui-button;

        @media #{$medium-only} {
            width: rem-calc(53);
            height: rem-calc(53);
        }

        svg {
            path {
                fill: $color-font-bright;
            }
        }
    }
}
